* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0061a8;
    color: white;
}

header {
    background-color: #004f91;
    padding: 20px;
}

.logo {
    display: inline-block;
    background-color: white;
    text-align: left;
    color: #00549f;
    font-size: 45px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 15px;
}

nav {
    margin-top: 10px;
    text-align: right;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
}

nav a:hover {
    color: #000000;
    font: size 40px;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 22px;
}

.button {
    display: inline-block;
    background-color: white;
    color: #00549f;
    padding: 15px 30px;
    margin-top: 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    border:3px solid #00549f;
}

.logo {
    border-radius: 15px;
    text-align: left;
}

.card {
    border-radius: 20px;
    overflow: hidden;
}

.card img {
    border-radius: 15px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

button {
    border: none;
    border-radius: 15px;
    padding: 12px 25px;
    cursor: pointer;
}

button:hover {
    border-radius: 25px;
}
.button:hover {
    background-color: #000000;
}

.products {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 50px 20px;
}

.product {
    background-color: white;
    color: #222;
    padding: 25px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

.product h3 {
    color: #00549f;
    margin-bottom: 10px;
}

footer {
    background-color: #00457f;
    text-align: center;
    padding: 28px;
    margin-top: 50px;
}